<app-base-modal [isVisible]="isVisible">
  <div class="modal-content">
    <app-form-field>
      <app-text-input
        [formControl]="playlistName"
        placeholder="Enter a playlist name"
        label="Playlist name:"
      ></app-text-input>
    </app-form-field>
    <app-form-field>
      <app-image-select-input
        label="Playlist cover image:"
        (imageSelected)="onImageSelected($event)"
        [initialValue]="coverImage"
      ></app-image-select-input>
    </app-form-field>
    <div class="controls">
      <app-button type="fill" color="primary" (click)="createClick()"
        >Create</app-button
      >
      <app-button type="fill" color="danger" (click)="canceled()"
        >Cancel</app-button
      >
    </div>
  </div>
</app-base-modal>
