<div class="controls">
  <app-button color="primary" type="plain" [circular]="true">
    <ng-icon name="ionShuffle" class="controls-icon"></ng-icon>
  </app-button>

  <app-button
    color="primary"
    type="plain"
    [circular]="true"
    (mouseenter)="handlePrevButtonHover()"
    (click)="playPrevClicked()"
  >
    <ng-icon name="ionPlayBack" class="controls-icon"></ng-icon>
  </app-button>

  <app-button color="primary" type="plain" [circular]="true" (click)="playPauseClicked()">
    <ng-container *ngIf="!songIsLoading; else loader">
      <ng-container *ngIf="playPauseState === 'songIsPaused'; else pause">
        <ng-icon name="ionPlay" class="controls-icon"></ng-icon>
      </ng-container>
      <ng-template #pause>
        <ng-icon name="ionPause" class="controls-icon"></ng-icon>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-button>

  <app-button
    color="primary"
    type="plain"
    [circular]="true"
    (mouseenter)="handleNextButtonHover()"
    (click)="playNextClicked()"
  >
    <ng-icon name="ionPlayForward" class="controls-icon"></ng-icon>
  </app-button>

  <app-loop-control></app-loop-control>
</div>
