<div class="controls">
  <app-button color="primary" type="plain" [circular]="true">
      <ng-icon name="ionShuffle"></ng-icon>
  </app-button>

  <app-button color="primary" type="plain" [circular]="true">
      <ng-icon name="ionPlayBack"></ng-icon>
  </app-button>

  <app-button color="primary" type="plain" [circular]="true" (click)="playPauseClicked()">
      <ng-container *ngIf="playPauseState === 'Play'; else pause">
          <ng-icon name="ionPlay"></ng-icon>
      </ng-container>
      <ng-template #pause>
          <ng-icon name="ionPause"></ng-icon>
      </ng-template>
  </app-button>

  <app-button color="primary" type="plain" [circular]="true">
      <ng-icon name="ionPlayForward"></ng-icon>
  </app-button>

  <app-button color="primary"
              type="plain"
              [circular]="true"
              [ngSwitch]="loopState"
              (click)="changeLoopState()">
      <div *ngSwitchCase="LoopState.None">
          <ng-icon name="heroArrowPathRoundedSquare"></ng-icon>
      </div>
      <div *ngSwitchCase="LoopState.Current">
          <ng-icon name="heroArrowPathRoundedSquare"></ng-icon>
      </div>
      <div *ngSwitchCase="LoopState.Playlist">
          <ng-icon name="heroArrowPathRoundedSquare"></ng-icon>
      </div>
  </app-button>
</div>
