.controls{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  ng-icon.controls-icon{
    --ng-icon__size: 1.5rem !important;
  }

}

:host ::ng-deep .controls button.circular{
  padding: 7px 9px;
}