.controls{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;


}

:host ::ng-deep .controls {
  ng-icon.controls-icon{
    --ng-icon__size: 1.5rem !important;
  }
  button.circular {
    padding: 7px 9px;
  }
  button.circular.style-fill {
    padding: 6px 8px;
  }
}