<form [formGroup]="songForm" class="song-form">
  <app-form-field>
    <label>Song file:</label>
    <app-file-select formControlName="filePath">
      <div no-file-template class="no-song song-select">
        <ng-icon name="ionMusicalNotesOutline"></ng-icon>
        <span>Click here to select a file of the song.</span>
      </div>
      <div file-selected-template class="selected song-select">
        <ng-icon name="ionMusicalNotes"></ng-icon>
        <span>{{ songForm.get("filePath").value }}</span>
      </div>
    </app-file-select>
  </app-form-field>

  <app-form-field>
    <app-text-input
      formControlName="name"
      placeholder="Enter a song name"
      label="Song name:"
    ></app-text-input>
  </app-form-field>

  <input type="hidden" formControlName="songId" />
  <input type="hidden" formControlName="playlistId" />
</form>
