@import "../../../../scss/colors";
@import "../../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.song-display-header {
  display: flex;
  width: 100%;
}
.songs-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.song-wrapper {
  display: grid;
  grid-template-columns: 6rem 1fr 1fr 3rem;
  padding: 10px;
  border-radius: $border-radius;
  background: transparent;
  transition:
    background-color 0.2s ease-in-out,
    color 0.5s ease-in-out;
  color: $color-grey-200;
  width: 100%;
  &.hover:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  & > * {
    display: flex;
    align-items: center;
  }
  &.active {
    color: $color-primary;
  }
}

.song-wrapper .song-left-controls {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.song-wrapper:hover .song-left-controls {
  opacity: 1;
}
