@import "../../../../scss/colors";
@import "../../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.song-display-header {
  display: flex;
  width: 100%;
}
.songs-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.song-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: $border-radius;
  background: $color-grey-600;
  color: $color-grey-200;
  width: 100%;
}
