.layout{
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: fixed;
  display: grid;
  grid-template-columns: 20% 1fr;
  & > div{
    margin: 12px 12px 24px 12px;
    padding: 2px 24px;
    border-radius: 12px;
    background: white;
    box-shadow: #6d6d6d 2px 2px 5px 0;
    &:last-of-type{
      margin-right: 24px;
    }
  }
}