@import "../../../scss/colors";
@import "../../../scss/typography";

$slider-height: 6px;
$slider-border-radius: 3px;
$slider-played-color: $color-primary;
$slider-not-played-color: grey;

:host input[type="range"]{
  --playbar-value: 0%;
}
.playbar{
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  width: 40vw;
  text-align: center;
}
.time{
  @include typo-text();
  font-size: 14px;
  color: $color-primary;
}